
@media only screen and (max-width: 800px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .profile-content{
        width: 100%;
        text-align: center;
    }

    .profile__avatar{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 801px){
    .profile-content{
        width: 70%;
        float: right;
        padding: 20px 20px;
    }

    .profile__avatar{
        width: 30%;
        float: left;
        text-align: end;
    }
}
.header{
    width: 100%;
    height: fit-content;
    background-color: #f5f5f5;
    padding-top: 20px;
    display: inline-flex;
}

.profile__name{
    text-transform: uppercase;
    color: #49515a;
    font-size: 38px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.profile__role{
    color: #778492;
    font-family: Lato,arial,sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

