<div class="header">
    <div class="header-flexbox__container">
        <div class="header-flexbox__item">
           
        </div>
        <div class="header-flexbox__item">
            dasdas
        </div>
        <div class="header-flexbox__item">
            <div>
                <p class="profile__name">tuan tran</p>
                <p class="profile__role">Fullstack Developer</p>
            </div>
        </div>
        <div class="header-flexbox__item">
           
        </div>
    </div>
</div>
